<html>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script type="text/javascript">
        alert("{{messages[-1]}}");
    </script>
    {% endif %}
    {% endwith %}
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    </head>
    <body>
    <div class="container my-3">
        <div>
            <h1>로그인</h1>
            </br>
        </div>
        <form action = "/login" method = "post">
            <div>
                <label> 아이디 : <input type = "text" name = "a_id"></label>
            </div>
            <div>
                <lable>비밀번호 : <input type = "password" name = "a_pw"></label>
            </div>
            <div>
                <input type = "button" value = "메인 페이지" onClick = "location.href='/'">
                <input type = "button" name = "signup" value = "회원가입" onClick = "location.href='/signup'">
                <input type = "submit" name = "login" value = "로그인">
            </div>
        </form>
    </div>
    </body>
</html>